<html>
<head>
    <title>Template</title>
    <link rel="stylesheet" type="text/css" href="css/external1.css">
    <link rel="stylesheet" type="text/css" href="css/external2.css">
    <link rel="stylesheet" type="text/css" href="css/external3.css">


</head>

<body>

<div class="div1">
    <h1 class="dr">Dr.Care</h1>
    <a href="###" `><img src="img\social-icon.png" class="fbt"></a><br>
    <table class="topios">
        <tr>

            <td><a href="###"><h2 class="aa">IOS</h2></a></td>
            <td><a href="###"><h2 class="aa">SVN</h2></a></td>
            <td><a href="###"><h2 class="aa">JAVA</h2></a></td>
        </tr>
    </table>
</div>
<div class="banner">
    <img src="img/banner.jpg" class="banner">
    <div class="bannerbox">
        <center>
            <h1 style="font-family:inherit;font-size:40px"> We Work For Your
                Health</h1>
            <h3 style="font-size:22px;margin-top:-15px"> Nemo enim ipsam
                voluptatem quia voluptas sit<br>
                aspernatur aut odit aut fugit, sed <br/>
                quia consequuntur magni </h3>


        </center>
    </div>
</div>
<div class="aboutus">
    <center>
        <h1 class="headabout"> About Us </h1>
        <h2 class="aboutnor"> Nor again is there anyone who loves or pursues
            or desires to obtain pain of <br> itself, because it is pain, but
            because occasionally pleasure.
        </h2>
    </center>
</div>
<div class="picbox">
    <div class="picbox1">
        <div class="pic">
            <img src="img\a1.jpg" alt="">
        </div>
        <div class="text">
            <br>
            <h1 class="head1">Et harum quidem rerum facilis</h1>
            <h3 class="head2">Excepteur sint occaecat cupidatat proident
                sunt culpa officia.</h3>
        </div>

    </div>
    <div class="picbox2">
        <div class="pic">
            <img src="img\a2.jpg" alt="">
        </div>
        <div class="text">
            <br>
            <h1 class="head1">Et harum quidem rerum facilis</h1>
            <h3 class="head2">Excepteur sint occaecat cupidatat proident
                sunt culpa officia.</h3>
        </div>

    </div>
    <div class="picbox3">
        <div class="pic">
            <img src="img\a3.jpg" alt="">
        </div>
        <div class="text">
            <br>
            <h1 class="head1">Et harum quidem rerum facilis</h1>
            <h3 class="head2">Excepteur sint occaecat cupidatat proident
                sunt culpa officia.</h3>
        </div>
    </div>
</div>
<br>
<br>
<h1 class="team">Our Team</h1><br>
<div class="teampic">
    <div class="teampic1">
        <img src="img\t1.jpg" class="teams" alt="">
    </div>
    <div class="teampic2">
        <img src="img\t2.jpg" class="teams" alt="">
    </div>
    <div class="teampic3">
        <img src="img\t3.jpg" class="teams" alt="">
    </div>
    <div class="teampic4">
        <img src="img\t4.jpg" class="teams" alt="">
    </div>
</div>
<h1 class="team">Services</h1>
<h2 class="servicedown"> Nor again is there anyone who loves or pursues or
    desires to obtain pain of <br> itself, because it is pain, but because
    occasionally pleasure.</h2>
<div class="iconsdiv">
    <img src="img\icon4.bmp" class="icon4" alt="">

</div>
<div class="circlepicdiv">
    <img src="img\tes.jpg" class="circlepic" alt="">

    <h1 class="circlehead1">Nam libero tempore soluta nobis eligendi optio
        <br> cumque impedit </h1>
    <h2 class="circlehead2">But I must explain to you how all this mistaken
        idea of denouncing pleasure and <br> praising pain was born and I will
        give you a complete account of the system, and <br> expound the
        actual teachings
    </h2>
</div>
<br><br>
<h1 class="team">Gallery</h1>
<h2 class="servicedown">Nor again is there anyone who loves or
    pursues or desires to obtain pain of <br> itself, because
    it is pain, but because occasionally pleasure.
</h2>
<div class="pic6box">
    <div class="pic6box1 picbox1a">
        <div class="">
            <img src="img\g1.jpg" alt="">
        </div>
        <a href="###"><h1 class="medical">Medical</h1>
            <h3 class="medicaldown">Nor again is there anyone who loves</h3></a>
        <a href="###"><input type="button" value="More" class="more"></a>
    </div>
    <div class="pic6box1 picbox1b">
        <div class="">
            <img src="img\g2.jpg" alt="">
        </div>
        <a href="###"><h1 class="medical">Medical</h1>
            <h3 class="medicaldown">Nor again is there anyone who loves</h3></a>
        <a href="###"><input type="button" value="More" class="more"></a>
    </div>
    <div class="pic6box1 picbox1c">
        <div class="">
            <img src="img\g3.jpg" alt="">
        </div>
        <a href="###"><h1 class="medical">Medical</h1>
            <h3 class="medicaldown">Nor again is there anyone who loves</h3></a>
        <a href="###"><input type="button" value="More" class="more"></a>
    </div>
    <div class="pic6box1 picbox1d">
        <div class="">
            <img src="img\g4.jpg" alt="">
        </div>
        <a href="###"><h1 class="medical">Medical</h1>
            <h3 class="medicaldown">Nor again is there anyone who loves</h3></a>
        <a href="###"><input type="button" value="More" class="more"></a>
    </div>
    <div class="pic6box1 picbox1e">
        <div class="">
            <img src="img\g5.jpg" alt="">
        </div>
        <a href="###"><h1 class="medical">Medical</h1>
            <h3 class="medicaldown">Nor again is there anyone who loves</h3></a>
        <a href="###"><input type="button" value="More" class="more"></a>
    </div>
    <div class="pic6box1 picbox1f">
        <div class="">
            <img src="img\g6.jpg" alt="">
        </div>
        <a href="###"><h1 class="medical">Medical</h1>
            <h3 class="medicaldown">Nor again is there anyone who loves</h3></a>
        <a href="###"><input type="button" value="More" class="more"></a>

    </div>
</div>
<div class="advantagebox">
    <h1 class="advantagehead">Our Advantages</h1>
    <p class="advantagebody">On the other hand, we denounce with righteous indignation and <br>
        dislike men who are so beguiled and demoralized by the charms of <br>
        pleasure of the moment, so blinded by desire, that they cannot <br>
        foresee the pain and trouble that are bound to ensue weakness

    </p>
    <img src="img\doctor.png" class="doc" alt="">
    <p class="advantagebody adv">
        ` To take a trivial which of us ever <br>
        ` To take a trivial which of us ever <br>
        ` To take a trivial which of us ever <br>
        ` To take a trivial which of us ever <br>
        ` To take a trivial which of us ever <br>
        ` To take a trivial which of us ever
    </p>
</div>
<h1 class="team">Quick Contact</h1>
<p class="servicedown">

    Nor again is there anyone who loves or pursues or desires to obtain pain of <br>
    itself, because it is pain, but because occasionally pleasure.
</p>

<form>

    <textarea placeholder="&nbsp;&nbsp;Message" class="textbox"></textarea>


    <input type="email" placeholder="&nbsp;&nbsp;E-mail" class="email">
    <input type="submit" name="" value="Send" class="send">
    <input type="text" placeholder="&nbsp;&nbsp;Name" class="name">

</form>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3422.9736672745616!2d75.85265871502278!3d30.91536018157384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a83756b554b11%3A0x7949a6e979dc5172!2sSingal+Daal+Store!5e0!3m2!1sen!2sin!4v1500290545986"
        width="100%" height="350px" frameborder="0" style="border:0" allowfullscreen></iframe>
<div class="footer">
    <h1 class="footerabout">ABOUT US</h1>
    <p class="footerbody">
        Lorem ipsum dolor sit amet, consectetur <br>
        adipiscing elit, sed do eiusmod tempor <br>
        incididunt ut.
    </p>
    <h1 class="address">ADDRESS</h1>
    <p class="addressdown"> Modal Town Extention <br>
        Ludhiana <br>
        +919548621546
    </p>
    <h1 class="news">NEWSLETTER</h1><br>

    <input type="email" placeholder="Enter Your Email" name="" class="footermail">


    <input type="submit" name="subscribe" value="Subscribe" class="subscribe">

</div>
</body>
</html>
